/* App.css */

.image-container {
  position: relative;
  width: 800px;
  height: 800px; /* Adjust the height as needed */
  overflow: hidden;
}

.sliding-image {
  position: absolute;
  width: 100%;
  height: 800px;
  object-fit: cover;
  opacity: 0;
  animation: slideInOut 9s ease-in-out infinite;
}

@keyframes slideInOut {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* App.css */
.calendar-wrapper {
  position: fixed;
  top: 80px; /* Adjust as needed */
  right: 20px;  /* Adjust as needed */
  z-index: 1000; /* Ensure it's above other content */
}

.calendar-container {
  margin-top: 20px;
}
