/* App.css */

.image-container {
  width: 800px;
  height: 800px; /* Adjust the height as needed */
  overflow: hidden;
}

.sliding-image {
  position: absolute;
  width: 100%;
  height: 800px;
  object-fit: cover;
  opacity: 0;
  animation: slideInOut 9s ease-in-out infinite;
}

@keyframes slideInOut {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.parent-container {
  position: relative; /* Establishes a positioning context */
}


/* App.css */
.parent-container {
  position: relative; /* Establishes a positioning context for child elements */
}

.calendar-wrapper {
  position: fixed;
  top: 70px; /* Aligns to the top of the parent container */
  right: 0px; /* Aligns to the right of the parent container */
  z-index: 1000; /* Ensures it appears above other content */
  margin: 16px; /* Optional: adds space from the edges */
}

.calendar-container {
  margin-top: 20px;
}

.react-calendar__navigation button {
  background-color: #143D60; /* Green background */
  color: white;
}

.green-booking-btn {
  position: fixed;
  right: 130px;
  bottom: 50px;
  padding: 12px 24px;
  background-color: #4CAF50; /* Green background */
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.green-booking-btn:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.green-booking-btn:active {
  background-color: #3e8e41; /* Even darker green on click */
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




